.HomeView {
    overflow: hidden;
    .topContainer {
        background: linear-gradient(180deg, #0f0f0f 0%, #123d46 100%);
        .top {
            display: flex;
            .text {
                width: 44.125rem;
                h1 {
                    /* IBM Plex Mono/56px: Bold */
                    font-family: IBM Plex Mono;
                    font-size: 3.5rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: var(--tranching-color-main-gradient-tranching, #fff);
                    span {
                        background: var(
                            --tranching-color-main-gradient-tranching,
                            linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                        );
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .des {
                    color: #fff;

                    /* DM Sans/32px: Bold */
                    font-family: DM Sans;
                    font-size: 2rem;
                    margin: 2rem 0;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                button {
                    width: 14.5rem;
                    height: 3rem;
                    border: 1px solid #fff;
                    background: linear-gradient(270deg, rgba(93, 149, 250, 0.8) 0%, rgba(0, 216, 252, 0.8) 100%);
                    color: var(--white, #fff);
                    font-family: IBM Plex Mono;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .imgs {
                width: 43.8125rem;
                margin-top: -4rem;
                img {
                    width: 100%;
                }
            }
        }
        .Ecosystem {
            margin-top: 3rem;
            display: flex;
            padding-bottom: 8.1875rem;
            .imgs {
                .title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5.9375rem;
                    .line {
                        display: block;
                        width: 22.4375rem;
                        border-top: 2px dashed #fff;
                    }
                }
                img {
                    width: 38.0625rem;
                }
            }
            .text {
                margin-left: 1.25rem;
                .title {
                    /* IBM Plex Mono/48px: Bold */
                    font-family: IBM Plex Mono;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background: var(
                        --tranching-color-main-gradient-tranching,
                        linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 1.375rem;
                }
                p {
                    margin-bottom: 1.375rem;
                }
                .des {
                    color: #fff;
                    /* DM Sans/16px: Regular */
                    font-family: DM Sans;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                }
                .t {
                    span {
                        color: #fff;
                        /* IBM Plex Mono/18px: Bold */
                        font-family: IBM Plex Mono;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%;
                    }
                }
                ol {
                    margin-left: 1.25rem;
                    li {
                        list-style-type: auto;
                        color: #fff;
                        font-family: DM Sans;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 170%; /* 27.2px */
                    }
                }
                .world {
                    font-size: 1.125rem;
                    color: #fff;
                    margin-top: 1.375rem;
                }
            }
        }
    }
    .Pools {
        background: #1e1e1e;
        padding: 4.0625rem 6.25rem;
        height: 76.6875rem;
        position: relative;
        .code_ {
            position: absolute;
            opacity: 0.4;
            margin: 2rem 2rem;
            color: #fff;
            /* IBM Plex Mono/18px: Medium */
            font-family: IBM Plex Mono;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 23.4px */
        }
        .tops {
            margin-top: -5.5rem;
            .content {
                position: relative;
                .sequence {
                    left: 0;
                    position: absolute;
                    margin-top: 1.875rem;
                    p {
                        color: rgba(131, 134, 142, 0.51);
                        font-family: Prompt;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 2rem;
                    }
                }
                .box {
                    .tab {
                        margin: 0 auto;
                        padding-top: calc(11.875rem - 1rem);
                        .tab_top {
                            display: flex;
                            justify-content: center;
                            width: 57.5rem;
                            margin: 0 auto;
                            .box{
                                display: none;
                            }
                            div {
                                height: 3.3125rem;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-bottom: 2px solid #fff;
                                margin: 0 auto;
                                span {
                                    cursor: pointer;
                                    color: #fff;
                                    text-align: center;
                                    /* DM Sans/16px: Medium */
                                    font-family: DM Sans;
                                    font-size: 1rem;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 130%; /* 20.8px */
                                    height: 3.3125rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .active {
                                    background-color: #fff;
                                    color: #1d3661;
                                }
                                span:first-child {
                                    width: 11.375rem;
                                }
                                span:nth-child(2) {
                                    width: 33.625rem;
                                }
                                span:nth-child(3) {
                                    width: 11.375rem;
                                }
                            }
                        }
                        .tab_text {
                            .item {
                                .title {
                                    text-align: center;
                                    /* IBM Plex Mono/48px: Bold */
                                    font-family: IBM Plex Mono;
                                    font-size: 3rem;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    background: var(
                                        --tranching-color-main-gradient-tranching,
                                        linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                                    );
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    margin: 3.8rem 0;
                                }
                                .code {
                                    opacity: 0.4;
                                    margin-top: 3.5rem;
                                    margin-left: 4rem;
                                    code {
                                        /* IBM Plex Mono/18px: Medium */
                                        font-family: IBMPlexMono-Light;
                                        font-size: 1.125rem;
                                        font-style: normal;
                                        line-height: 130%; /* 23.4px */
                                        color: #fff;
                                        font-weight: 500;
                                    }
                                }
                                .cd {
                                    margin-left: 10rem;
                                    /* IBM Plex Mono/48px: Bold */
                                    font-family: IBM Plex Mono;
                                    font-size: 3rem;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    background: var(
                                        --tranching-color-main-gradient-tranching,
                                        linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                                    );
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            .item:first-child {
                                .row {
                                    display: flex;
                                    align-items: center;
                                    .imgs {
                                        margin-left: 8rem;
                                        img {
                                            width: 17.25rem;
                                        }
                                    }
                                    .text {
                                        width: 44.5625rem;
                                        margin-left: 2.8125rem;
                                        ul {
                                            li {
                                                margin-bottom: 1.875rem;
                                                color: #fff;
                                                /* IBM Plex Mono/18px: Medium */
                                                font-family: IBM Plex Mono;
                                                font-size: 1.125rem;
                                                font-style: normal;
                                                font-weight: 500;
                                                line-height: 130%; /* 23.4px */
                                            }
                                        }
                                        .f {
                                            text-align: left;
                                            /* IBM Plex Mono/48px: Bold */
                                            font-family: IBM Plex Mono;
                                            font-size: 3rem;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: normal;
                                            background: var(
                                                --tranching-color-main-gradient-tranching,
                                                linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                                            );
                                            background-clip: text;
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                        }
                                    }
                                }
                            }
                            .item:nth-child(2),
                            .item:nth-child(3) {
                                .row {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    padding-left: 5rem;
                                    .col {
                                        width: 19.875rem;
                                        text-align: center;
                                        color: #fff;
                                        .text {
                                            display: flex;
                                            min-height: 7.5rem;
                                            margin-top: 1.5rem;
                                        }
                                    }
                                    .col:nth-child(1),
                                    .col:nth-child(2),
                                    .col:nth-child(3) {
                                        margin-bottom: 5.625rem;
                                    }
                                }
                            }
                            .item:nth-child(3) {
                                .row {
                                    .col {
                                        width: 22rem;
                                        .title_s {
                                            color: #fff;
                                            text-align: center;
                                            font-family: IBM Plex Mono;
                                            font-size: 1.125rem;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: 130%; /* 23.4px */
                                        }
                                        .text {
                                            display: block !important;
                                            .title_s {
                                                margin-bottom: 1.5rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .strategy {
        height: 30.5rem;
        background-image: url("../static/images/Group 57.png");
        background-size: contain;
        padding: 5.125rem 0;
        .box {
            width: 43.1875rem;
            margin: 0 auto;
            h1 {
                color: var(--white, #fff);
                text-align: center;
                /* IBM Plex Mono/48px: Bold */
                font-family: IBM Plex Mono;
                font-size: 3rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 2.625rem;
            }
            div {
                color: var(--layer-4, #fff);
                text-align: center;
                font-family: IBM Plex Mono;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 130%; /* 23.4px */
                p:first-child {
                    margin-bottom: 1.875rem;
                }
                p {
                }
            }
        }
    }
    #Pools_ {
        height: 61.1875rem;
        .tops {
            .code_ {
                position: absolute;
                opacity: 0.4;
                margin: 2.5rem 2rem;
                color: #fff;
                /* IBM Plex Mono/18px: Medium */
                font-family: IBM Plex Mono;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 23.4px */
            }
            .content {
                .box {
                    .tab {
                        padding-top: 6rem !important;
                        .tab_text {
                            .item {
                                .code_top {
                                    margin-left: 3rem;
                                    /* IBM Plex Mono/18px: Medium */
                                    font-family: IBM Plex Mono;
                                    font-size: 1.125rem;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 130%; /* 23.4px */
                                    color: #fff;
                                    margin-bottom: 3.5rem;
                                }
                                .row {
                                    .text {
                                        width: 100% !important;
                                        min-height: 16.5rem;
                                        margin-top: 2.8125rem;
                                    }
                                    .col {
                                        margin-right: 2.375rem;
                                        width: 15.3125rem !important;
                                        color: #fff;
                                        img {
                                            width: auto !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .Protocols {
        width: 100%;
        height: 68.25rem;
        background-image: url("../static/images/Group 51.png");
        background-size: contain;
        padding: 5.25rem 6.25rem;
        .title {
            /* IBM Plex Mono/48px: Bold */
            font-family: IBM Plex Mono;
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: var(
                --tranching-color-main-gradient-tranching,
                linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 2.125rem 0 1.5rem 0;
        }
        .cds {
            color: var(--white, #fff);
            /* IBM Plex Mono/18px: Medium */
            font-family: IBM Plex Mono;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 23.4px */
            margin-bottom: 1.5rem;
        }
        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item {
                width: 35.625rem;
                display: flex;
                .imgs {
                }
                .text {
                    margin-left: 3.375rem;
                    color: #fff;
                    .title_s {
                        color: var(--layer-5, #dba0db);
                        font-family: IBM Plex Mono;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; /* 23.4px */
                    }
                    .des {
                        margin-top: 1rem;
                        color: var(--white, #fff);

                        /* DM Sans/16px: Regular */
                        font-family: DM Sans;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                    }
                }
            }
        }
        .cd {
            margin-top: 2.5rem;
            margin-bottom: 2.3125rem;
            margin-left: 0rem;
            /* IBM Plex Mono/48px: Bold */
            font-family: IBM Plex Mono;
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: var(
                --tranching-color-main-gradient-tranching,
                linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .list_s {
            width: 77.5625rem;
            height: 18.0625rem;
            background: rgba(30, 30, 30, 0.4);
            padding: 1.875rem 3.125rem;
            display: flex;
            justify-content: space-between;
            .left {
                width: 29.0625rem;
                h2 {
                    /* IBM Plex Mono/48px: Bold */
                    font-family: IBM Plex Mono;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background: var(
                        --tranching-color-main-gradient-tranching,
                        linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .des {
                    color: var(--white, #fff);
                    /* IBM Plex Mono/18px: Medium */
                    font-family: IBM Plex Mono;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%; /* 23.4px */
                    margin: 1rem 0;
                }
            }
            .right {
                width: 37.5rem;
                .tab {
                    .tab_title {
                        display: flex;
                        border-bottom: 2px solid #fff;
                        span {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 12.5rem;
                            height: 3.3125rem;

                            color: var(--white, #fff);
                            text-align: center;

                            /* DM Sans/16px: Medium */
                            font-family: DM Sans;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 20.8px */
                        }
                        .active {
                            background-color: #fff;
                            color: #1d3661;
                        }
                    }
                    .tab_content {
                        .item {
                            display: flex;
                            align-items: center;
                            height: 14.3125rem;
                            color: var(--white, #fff);

                            /* DM Sans/16px: Regular */
                            font-family: DM Sans;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            img {
                                margin-right: 2.3125rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #Roadmap {
        position: relative;
        height: 58.6875rem;
        .tops {
            .content {
                .box {
                    display: flex;
                    justify-content: space-between;
                    .right,
                    .left {
                        .code_ {
                            position: static !important;
                            opacity: 0.4;
                            margin: 1rem 2rem;
                            margin-top: 3rem;
                            color: #fff;
                            /* IBM Plex Mono/18px: Medium */
                            font-family: IBM Plex Mono;
                            font-size: 1.125rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 23.4px */
                        }
                        position: relative;
                        width: 30.625rem;
                        .sequence {
                            left: 0;
                            position: absolute;
                            margin-top: 1rem;
                            p {
                                color: rgba(131, 134, 142, 0.51);
                                font-family: Prompt;
                                font-size: 1.5rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                margin-bottom: 2rem;
                            }
                        }
                        .text {
                            h1 {
                                /* IBM Plex Mono/48px: Bold */
                                font-family: IBM Plex Mono;
                                font-size: 3rem;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                background: var(
                                    --tranching-color-main-gradient-tranching,
                                    linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                                );
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                        .text {
                            margin: 7.5rem 0 0 3rem;
                            ul {
                                margin: 1rem 0;
                                li {
                                    display: flex;
                                    position: relative;
                                    span {
                                        margin-left: 0.5rem;
                                    }
                                    i {
                                        position: absolute;
                                        top: 0.7rem;
                                        display: block;
                                        width: 0.2rem;
                                        height: 0.2rem;
                                        border-radius: 50%;
                                        background-color: #fff;
                                    }
                                    .tx {
                                        position: relative;
                                    }
                                    .opa {
                                        opacity: 0;
                                    }
                                    .tt {
                                        width: 11.875rem;
                                        display: flex;
                                        em {
                                            margin-left: 1rem;
                                        }
                                    }
                                    color: #fff;
                                    font-family: IBM Plex Mono;
                                    font-size: 1rem;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 170%; /* 27.2px */
                                }
                            }
                            .cd {
                                margin-left: 0rem;
                                /* IBM Plex Mono/48px: Bold */
                                font-family: IBM Plex Mono;
                                font-size: 3rem;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                background: var(
                                    --tranching-color-main-gradient-tranching,
                                    linear-gradient(270deg, #5d95fa 0%, #00d8fc 100%)
                                );
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                        .code {
                            opacity: 0.4;
                            margin-top: 10rem;

                            /* IBM Plex Mono/18px: Medium */
                            font-family: IBM Plex Mono;
                            font-size: 1.125rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 23.4px */
                        }
                    }
                    .right {
                        width: 37.1875rem;
                        .boxs {
                            margin: 1rem 0;
                            .item {
                                display: flex;
                                color: var(--white, #fff);
                                /* IBM Plex Mono/16px: Semi Bold */
                                font-family: IBM Plex Mono;
                                font-size: 1rem;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                                margin-bottom: 1rem;
                                .time {
                                    width: 11rem;
                                    span {
                                        display: inline-block;
                                        width: 6.875rem;
                                    }
                                    em {
                                        display: inline-block;
                                        height: 1.25rem;
                                        margin-left: 0.4rem;
                                    }
                                }
                                .txt {
                                    width: calc(100% - 10rem);
                                    p {
                                        position: relative;
                                        padding-left: 0.5rem;
                                        i {
                                            position: absolute;
                                            display: inline-block;
                                            left: -0.2rem;
                                            width: 0.2rem;
                                            height: 0.2rem;
                                            margin-top: 0.5rem;
                                            border-radius: 50%;
                                            background-color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #Roadmap:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 23rem;
        left: 0;
        width: 23.6875rem;
        height: 39.8125rem;
        background-image: url("../static/images/Switch.png");
        background-size: contain;
        opacity: 0.1;
    }
}
